---
import Container from "../components/Container.astro";
import Actu from "../components/Actu.astro";
import Entete from "../components/entete.astro";
import Formulaire from "../components/formulaire.astro";
import FAQ from "../components/FAQ.astro";

import Base from "../layouts/Base.astro";
---

<Base>
  <Container>
    <Entete> Contact </Entete>
    <div class='mb-[200px]'>
      <div class='text-2xl lg:text-[40px] text-center font-bold uppercase mb-9'>
        Que desirez vous ?
      </div>
      <Formulaire />
      <div class='text-[40px] text-center font-bold uppercase mb-9'>FAQ</div>
      <FAQ />
    </div>
    <!-- <AskDevis /> -->
    <Actu />
  </Container>
</Base>
