---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import AskDevis from "../components/AskDevis.astro";
import Actu from "../components/Actu.astro";
import BeforeFoot from "../components/BeforeFoot.astro";
import Entete from "../components/entete.astro";
import Banniere from "../components/Banniere.astro";
import Story from "../components/Story.astro";
import BaseHead from "../components/BaseHead.astro";
import Script from "../components/Script.astro";

interface StoryProp {
  title: string;
  description: string;
}

const story: StoryProp[] = [
  {
    title:
      "Nous nous engageons à Construire un monde plus vert, une facture à la fois",
    description: `
      Leo Energy, fondée par Lionel Mfegue le 4 juin 2024 à Vienne, est un Bureau d’études spécialisé dans les audits
énergétiques et les conseils en efficacité énergétique. Nous sommes engagés à aider nos clients à optimiser leur
consommation énergétique et à se conformer aux normes réglementaires en vigueur. Notre expertise couvre un large
éventail de services, allant des audits réglementaires basés sur le Diagnostic de Performance Énergétique (DPE)
pour les maisons individuelles et les bâtiments tertiaires, à l’accompagnement dans la mise en œuvre des
recommandations issues de ces audits. Nous proposons des scénarios de travaux de rénovation, des calculs
détaillés d’énergie primaire, et des temps de retour sur investissement pour divers types de bâtiments tels que les
hôtels, les écoles et les mairies. En outre, nous aidons nos clients à déclarer leurs consommations énergétiques sur
la plateforme OPERAT de l’ADEME, assurant ainsi leur conformité et facilitant l’accès aux Certificats d'Économies
d'Énergie (CEE) et autres subventions.

    `,
  },
  {
    title: "",
    description: `
      <strong>Chez Leo Energy,</strong> nous croyons en l'importance d'une approche personnalisée pour chaque client. Nos services
incluent des conseils sur les aides financières disponibles, tels que MaPrimeRénov' et les subventions régionales,
basés sur le revenu fiscal du foyer et la région. Notre équipe d'experts, s'engage à fournir des solutions efficaces et
durables pour améliorer la performance énergétique de vos bâtiments. Nous utilisons des technologies avancées
pour surveiller et détecter les fuites d’eau, proposer des systèmes économes en eau, et guider nos clients dans leur
transition vers des pratiques énergétiques plus durables. Leo Energy se distingue par son engagement envers la
qualité, l'innovation et le service client, garantissant des résultats optimaux et une satisfaction totale.

    `,
  },
];
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead />
    <style>
      .banniere {
        @apply mb-28 mt-6;
      }
    </style>
  </head>
  <body>
    <Header />
    <Container>
      <Entete titre="l'entreprise">
        Un service porté par des <span
          class='principal-yellow inline-block'
          data-aos='fade-up'
          data-aos-duration='1000'>passionés</span
        >
      </Entete>
      <Banniere image='/banniere.png' text />
      <div class='mb-[200px]'>
        <div
          class='text-2xl lg:text-[40px] text-center font-bold uppercase mb-9'>
          Qui sommes nous
        </div>
        <Story
          image='/image_1.png'
          titre={story[0].title}
          description={story[0].description}
        />
        <Story
          image='/service_1.jpeg'
          titre={story[1].title}
          rtl
          description={story[1].description}
        />
      </div>
      <AskDevis />
      <Actu />
    </Container>
    <BeforeFoot />
    <Footer />
    <Script />
  </body>
</html>
