---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import AskDevis from "../components/AskDevis.astro";
import Actu from "../components/Actu.astro";
import BeforeFoot from "../components/BeforeFoot.astro";
import Entete from "../components/entete.astro";
import Banniere from "../components/Banniere.astro";
import Story from "../components/Story.astro";
import BaseHead from "../components/BaseHead.astro";
import Script from "../components/Script.astro";

interface StoryProp {
  title: string;
  description: string;
}

const story: StoryProp[] = [
  {
    title:
      "Nous nous engageons à Construire un monde plus vert, une facture à la fois",
    description: `
      Léo Energy est un bureau d’étude spécialisé en efficacité énergétique des bâtiments. 
      <br /><br />
      <strong>Notre mission :</strong> Réduire considérablement le coût des factures énergétiques des entreprises et des particuliers, tout en garantissant un confort thermique optimal, le tout en favorisant un mode de vie plus vert. 
      <br/><br/>
      <strong>Comment ? :</strong> En s’appuyant sur des systèmes optimisés et des matériaux respectueux de l’environnement, nous concevons des solutions sur mesure pour chaque projet.
      <br/><br />
      <strong>Nos valeurs</strong> 
      <li><strong>L’innovation continue :</strong>  Nous investissons en permanence dans les technologies de pointe pour proposer des solutions d’avenir.</li>
      <li><strong>La durabilité :</strong> Notre priorité est de créer un impact positif sur l’environnement. </li> 
      <li><strong>L’engagement Client :</strong> Nous accompagnons nos clients à chaque étape, de l’audit énergétique à la mise en œuvre des solutions.</li> 
      <li><strong>Eco-responsable :</strong> énergétiques réduisent l’empreinte carbone et favorisent une consommation d’énergie responsable.</li>

    `,
  },
  {
    title: "Nos spécialités ",
    description: `
      
      <li><strong>Audit énergétique réglementaire :</strong> Pour les maisons individuelles et les copropriétés.</li>  
      <li><strong>Audit tertiaire :</strong> Adaptés aux bâtiments bâtis sur plus de 1 000 mètres carrés avec logement et commerces.</li> 
      <li><strong>Déclaration OPERAT :</strong> Nous vous accompagnons dans la déclaration de votre sites dans le compte de l’ademe.</li>
      <li><strong>Suivi du décret tertiaire :</strong> Nous veillons à ce que la consommation énergétique soit inférieur à à un seuil fixé.</li>
      <li><strong>Économies d’eau :</strong> Installation des systèmes hydroéconomes et récupération d’eau à usage à usage sanitaire.</li>
      
      
      Léo Energy, c’est l’engagement d’un avenir plus vert et plus économique. <br><br>
      <strong>Notre vision </strong> <br/>
      Leo Energy est une jeune entreprise et nous projetons dans un avenir très proche de devenir un acteur majeur dans le processus de transition énergétique en Europe et dans le monde, en proposant des solutions toujours splus  innovantes, pratiques et respectueuses de l’environnement. <br><br>
      N'hésitez pas à nous  contacter pour découvrir comment nous pouvons vous aider à atteindre vos objectifs énergétiques.

    `,
  },
];
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead />
    <style>
      .banniere {
        @apply mb-28 mt-6;
      }
    </style>
  </head>
  <body>
    <Header />
    <Container>
      <Entete titre="l'entreprise">
        Un service porté par des <span
          class='principal-yellow inline-block'
          data-aos='fade-up'
          data-aos-duration='1000'>passionés</span
        >
      </Entete>
      <Banniere image='/banniere.png' text />
      <div class='mb-[200px]'>
        <div
          class='text-2xl lg:text-[40px] text-center font-bold uppercase mb-9'>
          Qui sommes nous
        </div>
        <Story
          image='/image_1.png'
          titre={story[0].title}
          description={story[0].description}
        />
        <Story
          image='/image_2.png'
          titre={story[1].title}
          rtl
          description={story[1].description}
        />
      </div>
      <AskDevis />
      <Actu />
    </Container>
    <BeforeFoot />
    <Footer />
    <Script />
  </body>
</html>
