---
import Container from "../components/Container.astro";
import AskDevis from "../components/AskDevis.astro";
import Actu from "../components/Actu.astro";
import Entete from "../components/entete.astro";
import Banniere from "../components/Banniere.astro";
import Story from "../components/Story.astro";
import Base from "../layouts/Base.astro";

interface StoryProp {
  title: string;
  description: string;
}

const story: StoryProp[] = [
  {
    title:
      "NOUS NOUS ENGAGEONS À CONSTRUIRE UN MONDE PLUS VERT, UNE FACTURE À LA FOIS",
    description: `
      Notre Bureau d’études propose des solutions pour réduire la consommation énergétique
et réaliser des économies. Nous guidons nos clients vers des choix énergétiques plus
efficaces et durables, en explorant des options de fournisseurs d'électricité
économiques pour réduire les factures. Nous conseillons également l'optimisation de
l'utilisation des appareils électriques durant les heures creuses et recommandons des
travaux de rénovation énergétique, tels que l'amélioration de l'isolation et le
remplacement des fenêtres. Ces interventions réduisent la consommation d'énergie et
améliorent le confort des bâtiments tout en respectant les normes environnementales.

    `,
  },
  {
    title: "",
    description: `
      <strong>Chez Leo Energy,</strong> nous croyons en l'importance d'une approche personnalisée pour chaque client. Nos services
incluent des conseils sur les aides financières disponibles, tels que MaPrimeRénov' et les subventions régionales,
basés sur le revenu fiscal du foyer et la région. Notre équipe d'experts, s'engage à fournir des solutions efficaces et
durables pour améliorer la performance énergétique de vos bâtiments. Nous utilisons des technologies avancées
pour surveiller et détecter les fuites d’eau, proposer des systèmes économes en eau, et guider nos clients dans leur
transition vers des pratiques énergétiques plus durables. Leo Energy se distingue par son engagement envers la
qualité, l'innovation et le service client, garantissant des résultats optimaux et une satisfaction totale.

    `,
  },
];
---

<Base>
  <Container>
    <Entete titre="l'entreprise">
      Un service porté par des <span
        class='principal-yellow inline-block'
        data-aos='fade-up'
        data-aos-duration='1000'>passionés</span
      >
    </Entete>
    <Banniere image='/banniere.webp' text />
    <div class='mb-[200px]'>
      <div
        class='text-2xl lg:text-[40px] text-center font-bold uppercase mb-9 text-[var(--principal-blue)]'>
        Qui sommes nous
      </div>
      <Story
        image='/image_1.webp'
        titre={story[0].title}
        description={story[0].description}
      />
      <Story
        image='/service_1.jpg'
        titre={story[1].title}
        rtl
        description={story[1].description}
      />
    </div>
    <AskDevis />
    <Actu />
  </Container>
</Base>
