---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import BaseHead from "../components/BaseHead.astro";
import Script from "../components/Script.astro";

import InboxMessage from "../components/inboxSide";
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead />
    <style>
      .banniere {
        @apply mb-28 mt-6;
      }
    </style>
  </head>
  <body>
    <Header />
    <Container>
      <InboxMessage client:load />
    </Container>
    <Footer />
    <Script />
  </body>
</html>
