---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import Service from "../components/Service.astro";
import AskDevis from "../components/AskDevis.astro";
import Actu from "../components/Actu.astro";
import BeforeFoot from "../components/BeforeFoot.astro";
import BaseHead from "../components/BaseHead.astro";

import BanniereAccueil from "../components/Banniere_Accueil.astro";
import Script from "../components/Script.astro";
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <Container>
      <BanniereAccueil />
      <div class='pt-1'>
        <div class='relative bg-blue p-[50px] mt-24 lg:flex gap-[50px]'>
          <div
            class='w-[100%] mb-6 lg:mb-0 lg:w-[368px] relative'
            data-aos='fade-up'
            data-aos-duration='1000'>
            <img
              src='/humain.png'
              alt=''
              width='100%'
              class='h-[350px] lg:h-[427px] object-cover lg:absolute bottom-0'
            />
          </div>
          <div class='flex-1'>
            <div class='text-white'>
              <strong>LEO ENERGY</strong> est votre partenaire de confiance pour
              l'amélioration de la performance énergétique et du confort de votre
              habitat ou de votre local professionnel.
              <br />
              Nos auditeurs et diagnostiqueurs certifiés réalisent des audits énergétiques
              complets et personnalisés pour identifier les points faibles de votre
              bien en matière de consommation d'énergie et vous proposer des solutions
              concrètes pour les améliorer. Nous effectuons également tous les diagnostics
              immobiliers obligatoires, tels que le DPE et l'ERNT, ainsi que d'autres
              diagnostics complémentaires à la demande.
            </div>
            <a
              data-aos='fade-up'
              data-aos-duration='1000'
              href='/entreprise'
              class='inline-flex w-fit h-[56px] bg-white font-semibold justify-center items-center text-gray-800 rounded-full relative z-[2] uppercase text-base px-10 mt-5'>
              en savoir plus
            </a>
          </div>
        </div>
      </div>
      <section class='mt-[50px] lg:mt-[167px]'>
        <div class='py-5'>
          <div class='mx-auto titre text-center'>Services</div>
        </div>
        <div class='lg:flex px-4 lg:px-0'>
          <Service
            icon='/audit.png'
            title='Audit & Analyse'
            yellow
            description='Optimisez vos performances énergétiques et réglementaires avec nos audits et diagnostics immobiliers.'
            delay={100}
          />
          <Service
            icon='/expert.png'
            title=' Expertise Immobilière'
            description='Expertise immobilière complète (Diagnostics, expertises, ingénierie du bâtiment.)'
            delay={300}
          />
          <Service
            icon='conseil.png'
            title='Conseils'
            separation
            description="Optimisez votre confort et vos dépenses énergétiques avec notre expertise en rénovation énergétique. Bénéficiez d'un audit personnalisé pour identifier les solutions adaptées à votre logement."
            leo
            delay={500}
          />
        </div>
      </section>
      <AskDevis />
      <Actu />
    </Container>
    <BeforeFoot />
    <Footer />
    <Script />
  </body>
</html>
