---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import AskDevis from "../components/AskDevis.astro";
import Actu from "../components/Actu.astro";
import BeforeFoot from "../components/BeforeFoot.astro";
import Entete from "../components/entete.astro";
import ServicesElement from "../components/Services";
import BaseHead from "../components/BaseHead.astro";

import { type imageData } from "../components/Services";
import Script from "../components/Script.astro";
const data: imageData[] = [
  { image: "/image_1.png", titre: "image No 1" },
  { image: "/image_2.png", titre: "image No 2" },
  { image: "/banniere_1.png", titre: "image No 3" },
  { image: "/banniere_2.png", titre: "image No 4" },
];

const services: { title: string; services: string; image?: string }[] = [
  {
    title: "Récupération d’eau de pluie pour les sanitaires",
    services: `Chez Leo Energy, nous proposons des solutions innovantes pour la récupération
et l'utilisation de l'eau de pluie dans les sanitaires. Nos systèmes de collecte et de
réutilisation de l'eau permettent de réduire la consommation d'eau potable et de
contribuer à la durabilité environnementale de votre bâtiment. Notre équipe de
professionnels est là pour vous aider à comprendre et à optimiser l'utilisation de
ces systèmes.`,
    image: "/recup.png",
  },
  {
    title: "Inspection et conseil en consommation d’eau",
    services: `Chez Leo Energy, nous offrons des services complets d'inspection pour
identifier les causes d'une consommation élevée d'eau dans vos bâtiments.
Nos experts proposent des solutions concrètes, telles que l'installation de
robinets, pommeaux de douche et mousseurs économes, pour optimiser
l'utilisation de l'eau et réduire vos coûts. En outre, nous installons des
traceurs pour surveiller et détecter les fuites d'eau, assurant ainsi une
gestion efficace et durable de vos ressources en eau`,
    image: "/conseil.png",
  },
  {
    title: "Audit énergétique réglementaires pour les maisons individuelles",
    services: `Un audit réglementaire est une évaluation systématique et méthodique des performances
énergétiques d'un bâtiment réalisée conformément aux normes et réglementations en vigueur. Cet
audit, souvent basé sur le Diagnostic de Performance Énergétique (DPE), vise à identifier les sources
de gaspillage énergétique, à proposer des solutions d'amélioration et à assurer la conformité aux
exigences légales. Pour garantir la qualité et la fiabilité des diagnostics et des recommandations, cet
audit doit être réalisé par un bureau d'études certifié RGE (Reconnu Garant de l'Environnement).
Leo Energy propose des scénarios de travaux tels que l'isolation des murs et des toits, le
remplacement des systèmes de chauffage et de ventilation, et l'installation de dispositifs économes
en énergie, tout en fournissant une estimation des coûts, des économies potentielles, et des aides
financières disponibles comme MaPrimeRénov' et d'autres subventions locales et régionales.
<br><br>
Leo Energy offre également des conseils personnalisés pour maximiser les aides financières en
fonction du revenu fiscal du foyer et de la région, particulièrement pour les maisons individuelles. Les
aides peuvent varier considérablement, et il est crucial d'identifier les options les plus avantageuses
pour chaque client. Nos experts fournissent des informations détaillées sur les aides spécifiques,
telles que les subventions régionales, les crédits d'impôt, et les prêts à taux zéro, afin de faciliter la
mise en œuvre des travaux de rénovation énergétique. Cela permet non seulement de réaliser des
économies d'énergie significatives, mais aussi de réduire les coûts pour les clients grâce à une gestion
optimisée des ressources financières disponibles. Cette approche est particulièrement bénéfique lors
de la vente ou de la location, car elle augmente la valeur du bien immobilier et assure une
transparence totale pour les futurs occupants`,
    image: "/audit-reg.png",
  },
  {
    title: "Audit énergétique pour les bâtiments tertiaires",
    services: `Les audits énergétiques pour les bâtiments tertiaires doivent se conformer à des
réglementations strictes, notamment le décret Éco Énergie Tertiaire issu de la loi Élan.
Ce décret impose des réductions progressives de la consommation d’énergie dans les
bâtiments tertiaires de 40% d’ici 2030, 50% d’ici 2040, et 60% d’ici 2050 par rapport à
l’année de référence 2010. La réalisation de ces audits permet non seulement de se
conformer aux obligations légales mais aussi de s'engager dans la transition énergétique
en réduisant les émissions de gaz à effet de serre. Les entreprises assujetties doivent
déclarer leurs consommations énergétiques annuelles sur la plateforme OPERAT de
l’ADEME et mettre en œuvre les recommandations issues de l’audit pour atteindre les
objectifs de performance énergétique.
<br><br>
Leo Energy réalise des audits énergétiques pour les bâtiments tertiaires afin d'améliorer
leur performance énergétique et de se conformer aux réglementations en vigueur. Ces
audits permettent d'identifier les sources de gaspillage énergétique et de proposer des
scénarios de travaux pour réduire les consommations. Nous effectuons des calculs
détaillés sur l'énergie primaire et différents scénarios de rénovation pour des bâtiments
tels que des hôtels, des écoles, des mairies et bien d’autres. Ces audits intègrent
également les Certificats d'Économies d'Énergie (CEE), offrant ainsi des solutions
financières pour la mise en œuvre des recommandations de rénovation énergétique. En
outre, Léo Energy accompagne ses clients dans la déclaration de leurs consommations
énergétiques annuelles sur la plateforme OPERAT de l’ADEME, assurant ainsi la
conformité avec les obligations réglementaires et facilitant l'accès aux primes et
subventions disponibles`,
    image: "/tertiere.png",
  },
];
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead />
    <style>
      body {
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>
    <Header />
    <Container>
      <Entete> Services </Entete>
      {
        services.map((el) => (
          <ServicesElement
            client:load
            titre={el.title}
            description={el.services}
            image={el.image}
          />
        ))
      }
      <AskDevis />
      <Actu />
    </Container>
    <BeforeFoot />
    <Footer />
    <Script />
  </body>
</html>
