---
import BanniereTop, { type liteElement } from "../components/banniere";

const data: liteElement[] = [
  {
    image: "/accueil_1.webp",
    texte: "Bureau d’études thermique et énergétique",
  },
  {
    image: "/accueil_2.jpg",
    texte: "Accompagnement pour la réalisation des projets énergétiques ",
  },
  {
    image: "/accueil_3.webp",
    texte:
      "Faites des économies d'énergie pour un confort thermique à petit prix",
  },
];
---

<style>
  .banniere {
    @apply mb-[200px] lg:mb-28 lg:mt-6;
  }

  .diapo_1,
  .diapo_2 {
    height: 622px;
    width: 100%;
    position: absolute;
  }
</style>
<div class='banniere'>
  <div class='relative h-[700px] lg:block'>
    <BanniereTop client:load data={data} />
    <div
      class='bg-yellow absolute bottom-[-234px] lg:bottom-[-154px] lg:bottom-[-64px] right-[5%] lg:right-[47px] w-[90%] lg:w-[428px]'
      data-aos='fade-down'
      data-aos-delay='200'
      data-aos-duration='1000'>
      <div class='relative p-7 lg:p-[47px] overflow-hidden'>
        <div class='absolute top-[0] right-[0]'>
          <img src='/flash.png' alt='' />
        </div>
        <div class='font-semibold mb-10 relative z-[2]'>
          Transition énergétique réussie : Expertise et conseils sur mesure pour
          des économies concrètes. Contactez-nous et démarrons votre projet dès
          maintenant!
        </div>
        <a
          data-aos='fade-down'
          data-aos-delay='400'
          data-aos-duration='1000'
          href='/contact'
          class='flex w-full h-[56px] bg-[#0005] font-semibold justify-center items-center text-white rounded-full relative z-[2] uppercase text-base'>
          Contactez-nous
        </a>
      </div>
    </div>
  </div>
</div>
