---
interface Props {
  image: string;
  text?: boolean;
}

const { image, text } = Astro.props as Props;
---

<section class='pb-[160px]'>
  <div class='h-[680px] b_images' style=`background-image: url('${image}') ;`>
    {
      text && (
        <div class='relative px-[50px] w-full h-full'>
          <div class='absolute bottom-[-50px] h-[484px] bg-blue w-[440px]'>
            <div class='relative p-[50px]'>
              <div class='absolute left-3 top-3 w-[100px] aspect-square'>
                <img src='/Frame.png' alt='' width='100%' />
              </div>
              <div class='relative z-[2] text-[32px] font-medium citattion text-white'>
                Derrière chaque rénovation énergétique réussie, il y a une
                équipe passionnée qui s'engage à faire la différence.
              </div>
              <div class='mt-8 text-2xl text-white'>- Thomas Dubois</div>
            </div>
          </div>
        </div>
      )
    }
  </div>
</section>

<style>
  .b_images {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .citattion {
    line-height: 1.35;
  }
</style>
