---
import Container from "./Container.astro";
---

<section class='before_foot'>
  <Container>
    <div class='py-[50px] px-5 lg:px-0'>
      <div class='flex items-center mb-6 lg:mb-0'>
        <div class='w-[160px] aspect-square'>
          <img src='/logo_leo.png' alt='' width='100%' />
        </div>
        <div class='flex flex-col text-5xl font-bold'>
          <span class='principal-blue'>LEO</span>
          <span class='principal-yellow'>ENERGY</span>
        </div>
      </div>
      <div class='bg-white p-[32px] lg:p-[50px] max-w-[550px] border'>
        <div class='font-bold'>37 Rue Druge 38200 Vienne</div>
        <div class='font-bold'>Contact Email</div>
        <div class='font-semibold mb-4'>infos@leo-energy.com</div>
        <div class='font-bold'>Contact Téléphone</div>
        <div class='font-semibold'>+33 6 20 01 93 22</div>
      </div>
    </div>
  </Container>
</section>

<style>
  .before_foot {
    margin-top: 24px;
    background-color: var(--blue-light);
  }
</style>
