---
import FaqItem from "../components/faqItem";
---

<div class='form px-4 lg:px-[50px]'>
  <FaqItem
    intitule="Récupérer l'eau de pluie pour les sanitaires est un choix écologique et économique."
    descript="Permettant de réduire la facture d'eau, d'économiser cette ressource précieuse et de limiter l'impact environnemental, cette pratique s'avère avantageuse à bien des égards. Cependant, il est important de s'informer sur la législation en vigueur, de bien dimensionner le système en fonction des besoins et de la pluviométrie, de prévoir un entretien régulier et de traiter l'eau avant de l'utiliser.Malgré ces quelques contraintes, la récupération d'eau de pluie pour les sanitaires demeure une solution viable et prometteuse pour les foyers soucieux de l'environnement et désireux de maîtriser leur consommation d'eau."
    client:load
  />
  <FaqItem
    intitule="Qu'est-ce qu'une inspection et un conseil en consommation d'eau ?"
    descript="Une inspection et un conseil en consommation d'eau est une analyse détaillée de la consommation d'eau d'un bâtiment, réalisée par un professionnel qualifié. L'objectif est d'identifier les sources de gaspillage d'eau et de proposer des solutions pour les réduire."
    client:load
  />
  <FaqItem
    intitule="À qui s'adresse une inspection et un conseil en consommation d'eau ?"
    descript=`
  Propriétaires et gestionnaires de bâtiments résidentiels, commerciaux et industriels,
  Collectivités locales,
  Hôtels et établissements d'hébergement,
  Écoles et universités,
  Centres sportifs et de loisirs
  `
    client:load
  />
  <FaqItem
    intitule="L'audit énergétique réglementaire : Un état des lieux pour une maison plus économe"
    descript="L'audit énergétique réglementaire, obligatoire pour la vente des maisons individuelles énergivores (classes F et G), est un diagnostic complet de la performance énergétique d'un logement. Réalisé par un professionnel indépendant, il informe l'acquéreur sur les travaux de rénovation à envisager pour améliorer la performance du bien, réduisant ainsi sa consommation d'énergie et ses factures. Un outil précieux pour une transition énergétique plus responsable."
    client:load
  />
  <FaqItem
    intitule="Qu'est-ce qu'un audit énergétique pour les bâtiments tertiaires ?"
    descript="Un audit énergétique pour les bâtiments tertiaires est une analyse détaillée de la performance énergétique d'un bâtiment à usage professionnel (bureaux, commerces, écoles, etc.). Il permet d'identifier les sources de gaspillage d'énergie et de proposer des solutions pour les réduire."
    client:load
  />
  <FaqItem
    intitule='Quand un audit énergétique est-il obligatoire pour les bâtiments tertiaires ?'
    descript="Depuis le 1er juillet 2021, les bâtiments tertiaires dont la surface utile dépasse 1 000 m² doivent réaliser un audit énergétique tous les 3 ans. L'obligation s'applique également aux bâtiments neufs dont la surface utile dépasse 1 000 m² à partir de leur réception."
    client:load
  />
</div>

<style>
  .form {
    margin: 0 auto 90px;
    @apply w-full lg:w-[1080px];
  }
  .faqitem + .faqitem {
    margin-top: 24px;
  }
</style>
