---
import FaqItem from "../components/faqItem";
---

<div class='form px-4 lg:px-[50px]'>
  <FaqItem client:load />
  <FaqItem client:load />
  <FaqItem client:load />
  <FaqItem client:load />
</div>

<style>
  .form {
    margin: 0 auto 90px;
    @apply w-full lg:w-[1080px];
  }
  .faqitem + .faqitem {
    margin-top: 24px;
  }
</style>
