---
import Champ from "./Champ.astro";
---

<div class='form px-6 lg:px-[50px] relative'>
  <form action='' class='w-full p-[20px] lg:p-[50px] blue-light relative'>
    <div class=''>
      <Champ
        type='text'
        titre='Nom et Prénom *'
        placeholder='Nom complet'
        champ='nom'
        required
      />
      <Champ
        type='tel'
        titre='Téléphone *'
        placeholder='Votre numéro de téléphone'
        champ='telephone'
        required
      />
      <Champ
        type='text'
        titre='Entreprise (optionnel)'
        placeholder='Nom de votre Entreprise'
        champ='entreprise'
      />
      <Champ
        type='text'
        titre='Pays *'
        placeholder='Votre Pays de résidence'
        champ='pays'
        required
      />
      <Champ
        type='text'
        titre='Ville *'
        placeholder='Votre Ville de résidence'
        champ='ville'
        required
      />
      <Champ
        type='textarea'
        titre='Message *'
        placeholder='Votre message'
        champ='message'
        required
      />

      <div class='flex'>
        <div class='w-[25%] lg:w-[35%]'></div>
        <div class='flex-1'>
          <button
            class='px-9 py-3 text-base uppercase font-bold border rounded-full mt-6 bg-blue text-white'>
            envoyer
          </button>
        </div>
      </div>
    </div>
  </form>
  <div
    class='absolute flex top-0 left-0 w-full h-full bg-[#fff1] z-[5] items-center justify-center flou'
    style='backdrop-filter: blur(10px);'>
    <div class='font-bold'>Message envoyé avec Succes</div>
  </div>

  <style>
    .form {
      width: 1080px;
      margin: 0 auto 90px;

      @apply w-full lg:w-[1080px];
    }
    .blue-light {
      background-color: var(--blue-light);
    }
  </style>

  <script>
    import { DB } from "../firebase";
    import { setDoc, doc } from "firebase/firestore";

    const formulaire = document.querySelector(".form") as HTMLFormElement;
    const flou = document.querySelector(".flou") as HTMLDivElement;

    flou.remove();
    interface FormulaireValue extends EventTarget {
      nom: HTMLInputElement;
      telephone: HTMLInputElement;
      entreprise: HTMLInputElement;
      pays: HTMLInputElement;
      ville: HTMLInputElement;
      message: HTMLTextAreaElement;
    }

    formulaire.addEventListener("submit", async (e) => {
      e.preventDefault();

      const hostname = location.host;
      const protocol = location.protocol;

      const { nom, telephone, entreprise, pays, ville, message } =
        e.target as FormulaireValue;

      const obj = {
        nom: nom.value,
        telephone: telephone.value,
        entreprise: entreprise.value,
        pays: pays.value,
        ville: ville.value,
        message: message.value,
        alreadyRead: false,
        readWhen: null,
        createdAt: new Date(),
      };

      const bodyContent = new FormData();

      for (let el in obj) {
        //@ts-ignore
        const value = obj[`${el}`];

        bodyContent.append(el, value);
      }

      const ref = doc(DB, "/message", `message-${Date.now()}`);
      await setDoc(ref, obj).then((e) => {
        formulaire.appendChild(flou);
      });
    });
  </script>
</div>
