---
interface Props {
  image: string;
  title: string;
  href: string;
  yellow?: boolean;
  delay?: number;
}
const {
  image,
  title,
  yellow,
  delay,
  href = "/services",
} = Astro.props as Props;
---

<div
  class=`service bg-cover bg-no-repeat bg-center ${yellow ? 'bg-yellow' : 'bg-bleu-10'}`
  style=`background-image: url(${image});`
  data-aos='fade-down'
  data-aos-delay=`${delay}`
  data-aos-duration='1000'>
  <a href={href} class='relative overflow-hidden p-5 lg:p-[40px] bg-[#0005]'>
    <div
      class='flex text-base lg:text-2xl font-bold mb-8 items-end justify-end text-left w-full h-full text-white'>
      {title}
    </div>
  </a>
</div>

<style>
  .service {
    @apply h-auto lg:h-auto aspect-square flex-1 flex relative;
  }

  .bg-bleu-10 {
    background-color: #f6fbff;
  }
</style>
